<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title></title>
<link rel="stylesheet" href="style.css">
</head>
<body>
    <% for(let order of orders) { %>
        <div>
            <% if(order.Status == 2) { %>
                <% if(order.WorkerId == currId) {%> <!--Need to get currid from login-->
                    Name:<%= order.CustomerName %>
                    Address:<%= order.CustomerAddr %>
                    <form action="/worker" method="POST">
                        <ul>
                            <% for(let pending of order.PendingItems) {%>
                                <li><%=pending.ProductName%>-<%= pending.Qty %> <input type="checkbox" id= <%=pending.ProductName%> name = <%=pending.ProductName%>></li>
                            <% } %>
                        </ul>
                    </form>
                <% } %>
                <!--A form with choice to assign to worker dropdown choice-->
            <% } %>            
        </div>
    <% } %>
<!-- <script src="app.js"></script> -->
</body>
</html>